h2, h3{
  text-align: center;
  padding-bottom: 20px;
  font-weight: unset;
}

.dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboard-card{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: #007bff;
  border-radius: 10px;
}

.dashboard-card-heading{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px !important;
  font-weight: bold;
  color: white;
}

.dashboard-card-content{
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

.dashboard-card h4{
  text-align: center;
  color: white;
  font-size: 20px;
}
