<div>
  <h2>Ticket Availability</h2>
  <h3>Check real-time ticket availability for your event at a glance.</h3>

  <div class="dashboard">
    <div class="dashboard-card">
      <span class="dashboard-card-heading">Total Tickets</span>
      <span class="dashboard-card-content">{{allTickets}}</span>
    </div>

    <div style="background-color: #4caf50" class="dashboard-card">
      <span class="dashboard-card-heading">Sold Tickets</span>
      <span class="dashboard-card-content">{{soldTickets}}</span>
    </div>

    <div style="background-color: #efd700" class="dashboard-card">
      <span class="dashboard-card-heading">Remaining</span>
      <span class="dashboard-card-content">{{remainingTickets}}</span>
    </div>
  </div>
</div>

